html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/oasis_4k.jpg")no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}

.top-nav-collapse {
    background-color: #e48c09;
    z-index: 9999999;
}

#grey-text1{
    height: 400px;
    overflow-y: auto;
}